.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:2.460000px;}
.fc1{color:rgb(191,191,191);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:33.000000px;}
.fs4{font-size:36.000000px;}
.fs0{font-size:64.000000px;}
.fs3{font-size:72.000000px;}
.fs5{font-size:80.000000px;}
.fs6{font-size:96.000000px;}
.fs2{font-size:104.000000px;}
.y0{bottom:0.000000px;}
.y1{bottom:9.558719px;}
.y2{bottom:11.608744px;}
.y5{bottom:12.249531px;}
.y6{bottom:12.542831px;}
.y4{bottom:233.472519px;}
.y8{bottom:268.478935px;}
.y3{bottom:268.521313px;}
.y7{bottom:294.078932px;}
.y9{bottom:341.361910px;}
.h3{height:24.024902px;}
.h6{height:26.208984px;}
.h2{height:46.593750px;}
.h5{height:52.417969px;}
.h7{height:58.242188px;}
.h8{height:69.890625px;}
.h4{height:75.714844px;}
.h1{height:405.000000px;}
.h0{height:405.125031px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x2{left:9.428818px;}
.x3{left:28.775024px;}
.x4{left:29.974396px;}
.x7{left:31.181091px;}
.x5{left:47.500000px;}
.x6{left:516.015991px;}
.x1{left:619.218750px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:3.280000pt;}
.fs1{font-size:44.000000pt;}
.fs4{font-size:48.000000pt;}
.fs0{font-size:85.333333pt;}
.fs3{font-size:96.000000pt;}
.fs5{font-size:106.666667pt;}
.fs6{font-size:128.000000pt;}
.fs2{font-size:138.666667pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:12.744958pt;}
.y2{bottom:15.478325pt;}
.y5{bottom:16.332708pt;}
.y6{bottom:16.723775pt;}
.y4{bottom:311.296692pt;}
.y8{bottom:357.971914pt;}
.y3{bottom:358.028417pt;}
.y7{bottom:392.105242pt;}
.y9{bottom:455.149213pt;}
.h3{height:32.033203pt;}
.h6{height:34.945312pt;}
.h2{height:62.125000pt;}
.h5{height:69.890625pt;}
.h7{height:77.656250pt;}
.h8{height:93.187500pt;}
.h4{height:100.953125pt;}
.h1{height:540.000000pt;}
.h0{height:540.166707pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x2{left:12.571757pt;}
.x3{left:38.366699pt;}
.x4{left:39.965861pt;}
.x7{left:41.574788pt;}
.x5{left:63.333333pt;}
.x6{left:688.021322pt;}
.x1{left:825.625000pt;}
}
